<div class="page-container center-content">
    <div class="global-page-container center-content">
        <div class="auth-card">
            <div class="auth-title flex-column ">
                <div class="title-text">
                    Welcome
                </div>
                <div class="logo">
                    LOGO
                </div>
            </div>
            <div class="response">
                <span *ngIf="msg" [style.color]="success?'green':'red'">{{msg}}</span>
            </div>
            <form [formGroup]="registerForm" class="inputs-container flex-column" (submit)="register()">
                <input type="text" placeholder="Full Name" class="auth-input" formControlName="fullname" />
                <input type="text" placeholder="Email" class="auth-input" formControlName="email" />
                <input type="text" placeholder="Password" class="auth-input" formControlName="password" />
                <app-auth-button [buttonText]="'REGISTER'"></app-auth-button>
            </form>
            <div class="auth-other-page">
                already have an account?<a href="/authentication">Sign In</a>
            </div>
        </div>
    </div>
</div>