<div class="page-container">
    <div class="global-page-container">
        <div class="sidebar">
            <div class="logo">AHMAD</div>
            <div class="animation-container">
                <div class="add-button" (click)="handleColors()">
                    +
                </div>
                <div class="colors-container">
                    <div>
                        <div class="color" style="background-color: red" [style.translate]="'0 '+top.red+'px'"
                            (click)="handleAddNote('red')"></div>
                    </div>
                    <div>
                        <div class="color" style="background-color: orange" [style.translate]="'0 '+top.orange+'px'"
                            (click)="handleAddNote('orange')">
                        </div>
                    </div>
                    <div>
                        <div class="color" style="background-color: green" [style.translate]="'0 '+top.green+'px'"
                            (click)="handleAddNote('green')">
                        </div>
                    </div>
                    <div>
                        <div class="color" style="background-color: pink" [style.translate]="'0 '+top.pink+'px'"
                            (click)="handleAddNote('pink')"></div>
                    </div>
                    <div>
                        <div class="color" style="background-color: cyan" [style.translate]="'0 '+top.cyan+'px'"
                            (click)="handleAddNote('cyan')"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="notes-container">
            <div class="header">
                <span class="search-bar">
                    <!-- <input type="text" placeholder="Search" /> -->
                </span>
                <span class="logout-icon" (click)="logout()"><svg xmlns="http://www.w3.org/2000/svg" height="1em"
                        viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
                    </svg></span>
            </div>
            <div class="notes">
                <div class="title">NOTES</div>
                <div *ngIf="msg"> {{msg}}</div>
                <div class="note-cards-container" *ngIf="notes">
                    <div class="note-card" *ngFor="let note of notes" [style.background-color]="note.color">

                        <div class="card-title">
                            <span [style.display]="!note.editing?'none':'inline'">
                                <input #titleinput type="text" maxlength="23" placeholder="enter a title"
                                    [value]="note.title" class="titleEdit" />
                            </span>
                            <span *ngIf="!note.editing">{{note.title}}</span>
                        </div>

                        <div class="card-content">
                            <span [style.display]="!note.editing?'none':'inline'">
                                <textarea #contentinput type="text" maxlength="270" class="contentEdit"
                                    placeholder="enter text">{{note.textContent}}</textarea>
                            </span>
                            <span *ngIf="!note.editing">{{note.textContent}}</span>
                        </div>

                        <div class="card-date">
                            {{note.AddedOn.slice(0,10)}}
                            <button class="edit-btn" *ngIf="!note.editing;else save" (click)="note.editing=true">
                                <svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 512 512">
                                    <path fill="#ffffff"
                                        d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z" />
                                </svg>
                            </button>
                            <ng-template #save>
                                <button class="edit-btn"
                                    (click)="note.editing=false;handleEdit(note._id,titleinput.value,contentinput.value,note.color)">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
                                        viewBox="0 0 448 512">
                                        <path fill="#ffffff"
                                            d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                                    </svg>
                                </button>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>