<div class="page-container">
    <div class="global-page-container">
        <div class="sidebar">
            <div class="logo">AHMAD</div>
            <div class="add-button">
                +
            </div>
        </div>
        <div class="notes-container">
            <div class="search-bar">Search</div>
            <div class="notes">
                <div class="title">NOTES</div>
                <div class="note-cards-container">
                    <div class="note-card" *ngFor="let note of notes">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>