.page-container {
    width: 100%;
    height: 100%;
    background-color: #f3f2f3;
}

.global-page-container {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: flex;
    background-color: transparent;
    border-radius: 30px;
}

.sidebar {
    width: 160px;
    min-height: 100vh;
    padding-top: 40px;
    border-right: 1px solid #888889;
    background-color: white;
    border-radius: 30px 0 0 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 60px;
    color: black;
    font-size: large;
    font-weight: 700;
}

.add-button {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.notes-container {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    padding: 40px 60px;
    border-radius: 0 30px 30px 0;
}

.logout-icon {
    cursor: pointer;
}

.search-bar {
    display: inline-block;
    width: 100%;
}

.search-bar>input {
    border: 0;
}

.header {
    margin-bottom: 60px;
    display: flex;
}

.title {
    font-size: xx-large;
    font-weight: 900;
    margin-bottom: 60px;

}

.note-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.note-card {
    width: 212px;
    height: 220px;
    padding: 5px;
    border-radius: 20px;
    background-color: aqua;
}

.card-title {
    height: 20px;
    text-align: center;
    text-transform: capitalize;
}

.card-content {
    height: calc(100% - 40px);
}

.card-date {
    height: 20px;
    text-align: center;
}